services:
  # --- n8n Service ---
  n8n:
    image: docker.n8n.io/n8nio/n8n
    restart: always
    ports:
      - "5678:5678"
    environment:
      - N8N_HOST=localhost
    volumes:
      - n8n_data_local:/home/node/.n8n
      - ./n8n/workflows:/home/node/workflows
      - ./n8n/credentials:/home/node/credentials

volumes:
  n8n_data_local: